Demo_Hotels/OTP_Verify_Recieve (2).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: OTP_Verify_Recieve
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1756851923950-source-1756854738137-target
      source: '1756851923950'
      sourceHandle: source
      target: '1756854738137'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1756854738137-source-1756860035398-target
      source: '1756854738137'
      sourceHandle: source
      target: '1756860035398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1756860035398-source-1756857649229-target
      source: '1756860035398'
      sourceHandle: source
      target: '1756857649229'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: phone_number
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: phone_number
        - label: otp_code
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: otp_code
      height: 116
      id: '1756851923950'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-137
            key: phone
            type: text
            value: '{{#1756851923950.phone_number#}}'
          - id: key-value-148
            key: code
            type: text
            value: '{{#1756851923950.otp_code#}}'
          type: x-www-form-urlencoded
        desc: ''
        headers: X-API-Key:xpectrum-ai@123
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://d3sgivh2kmd3c8.cloudfront.net/sms/otp/verify
        variables: []
      height: 139
      id: '1756854738137'
      position:
        x: 521
        y: 282
      positionAbsolute:
        x: 521
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1756860035398'
          - message
          variable: status_code
        selected: false
        title: End
        type: end
      height: 90
      id: '1756857649229'
      position:
        x: 1333.7578235520252
        y: 282
      positionAbsolute:
        x: 1333.7578235520252
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(json_body: str):\n    message = \"System error,\
          \ please try again later\"\n    try:\n        data = json.loads(json_body)\n\
          \        if data.get(\"valid\") is True:\n            message = \"Verification\
          \ successful ✅\"\n        else:\n            message = \"Invalid or expired\
          \ verification code ❌\"\n    except Exception:\n        message = \"Response\
          \ could not be parsed\"\n    return {\"message\": message}\n\n\nif __name__\
          \ == \"__main__\":\n    # Simulate HTTP response body\n    test_body = '{\"\
          valid\": true}'\n    print(main(test_body))"
        code_language: python3
        desc: ''
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1756854738137'
          - body
          variable: json_body
      height: 54
      id: '1756860035398'
      position:
        x: 1033.7578235520252
        y: 282
      positionAbsolute:
        x: 1033.7578235520252
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -287.6257528979906
      y: 232.2776794033535
      zoom: 0.9636481382550398
